NET CLK LOC=V10;
NET SW[0] LOC=T10;
NET SW[1] LOC=T9;
NET LED[0] LOC=U16;
NET LED[1] LOC=V16;
NET LED[2] LOC=U15;
NET LED[3] LOC=V15;
NET LED[4] LOC=M11;
NET LED[4] LOC=R11;

NET serial_in LOC=N17;
NET serial_out LOC=N18;